[flake8]
ignore = D100, D105, D104, W504, W292, D101, D106, D103, D102, D107
max-line-length = 79
paths =
    ./app
max-complexity = 10
exclude =
   tests
   migrations/versions/*.py
   migrations/*.py
   venv